'menu': [
  {
    'label': 'PROS'
    'submenu': [
      {
        'label': 'Create new PROS Project'
        'command': 'PROS:New-Project'
      },
      {
        'label': 'Upgrade a PROS Project'
        'command': 'PROS:Upgrade-Project'
      },
      {
        'label': 'Register a PROS project'
        'command': 'PROS:Register-Project'
      },
      {
        'label': 'Upload Project'
        'command': 'PROS:Upload-Project'
      }
      {
        'label': 'Toggle PROS-Atom Google Analytics'
        'command': 'PROS:Toggle-GA'
      }
      {
        'label': 'Toggle PROS functionality'
        'command': 'PROS:Toggle-PROS'
      }
    ]
  }
]
