.pros-status-bar svg {
  height: @component-icon-size;
  width: @component-icon-size;
  text-align: center;
  fill: @text-color-subtle;
}
.pros-status-bar .btn.btn-default,  .pros-status-bar .btn.btn-default:hover,  .pros-status-bar .btn.btn-default:focus {
  background: none;
  border: none;
  height: @component-line-height;
  margin-top: 4px;
  padding: 0;
}

.pros-status-bar .btn.btn-default:hover svg  {
  fill: #cca352;
}
