@import "ui-variables";

atom-panel.bottom .pros-terminal {
  .heading {
    -webkit-user-select: none;
    line-height: 3.0em;
    padding: 0 3px;

    .control-container {
      float: right;
      margin-left: @component-padding;

      .btn {
        color: @text-color-info;
        margin: 0 1px;
      }

      .title {
        float: left;
      }
    }
  }

  .output {
    height: 300px;
    color: #fff;
    background-color: #000;
  }
}

.opaque-hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
  &:hover {
    opacity: 1.0;
  }
}
