.pros-weclome .container {
  width: 100%;
}

.pros-welcome .header .hero {
  margin: auto;
}
.pros-welcome .header .hero svg {
  width: 100%;
  height: 25em;
}
.pros-welcome .header .hero .title {
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-size: 1.4em;
}

.pros-welcome .header a:hover .title {

  text-decoration: none;
}

.pros-welcome .panel {
}
